{% include "header.html" %}

<div class="container container-cafe container-profile">
    <div class="row">
        <!--        USER INFORMATION BLOCK            -->
        <div class="col-sm-12">
            <h1 class="cafes-h1">User Information</h1>
            {% if current_user.user_admin %}
            <h4 id="show-admin">( ADMIN )</h4>
            {% endif %}
            <table class="table">
                <thead>
                <tr>

                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Api Key</th>

                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>{{ current_user.name }}</td>
                    <td>{{ current_user.username }}</td>
                    <td>{{ current_user.email }}</td>
                    <td>{{ current_user.user_api }}</td>

                </tr>
                </tbody>
            </table>
        </div>

        <!--        SUGGESTED CAFE BLOCK            -->
        <div class="col-sm-12">
            <h1 class="cafes-h1">Suggested Cafes</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Map URL</th>
                    <th>Address</th>
                    <th>Township</th>
                    <th>City</th>
                    <th>Seats</th>
                    <th>Wifi</th>
                    <th>Sockets</th>
                    <th>Workable</th>
                    <th>Restroom</th>
                    <th>Cards</th>
                    <th>Coffee Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for cafe in cafes %}
                <tr>

                    <td><strong>{{ cafe.name }}</strong></td>
                    <td><a href="{{ cafe.map_url }}">Maps Link</a></td>
                    <td>{{ cafe.address }}</td>
                    <td>{{ cafe.township }}</td>
                    <td>{{ cafe.city }}</td>
                    <td>{{ cafe.seats }}</td>
                    <td>{{ cafe.wifi }}</td>
                    <td>{{ cafe.sockets }}</td>
                    <td>{{ cafe.can_take_calls }}</td>
                    <td>{{ cafe.restroom }}</td>
                    <td>{{ cafe.cards }}</td>
                    <td>{{ cafe.coffee_price }}</td>
                    <td><a class="btn btn-info btn-sm" href="{{ url_for('edit_cafe', cafe_id=cafe.id) }}">Edit</a></td>
                    <td><a class="btn btn-info btn-sm" href="{{ url_for('delete_cafe', cafe_id=cafe.id) }}">Delete</a>
                    </td>

                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>


{% include "footer.html" %}